{
  "swagger": "2.0",
  "info": {
    "title": "Data Miner 2 Web API",
    "version": "1.0",
    "description": "Description for Data Miner 2 Web API"
  },
  "host": "api.pjm.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/v1/{feedKey}/{fieldName}/values": {
      "get": {
        "description": "Gets the Lookup values for a specific field in a Feed.",
        "operationId": "Lookup",
        "parameters": [
          {
            "name": "feedKey",
            "in": "path",
            "description": "The Feed key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the Field.",
            "required": true,
            "type": "string"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "if set to true [is active metadata].",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull searches will return the unique values stored in the Field for that Feed.",
            "schema": {
              "$ref": "#/definitions/V1{feedKey}{fieldName}ValuesGet200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Lookup Feed or Field name is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/v1": {
      "get": {
        "description": "Searches the directory of feeds for any matching the provided search terms and returns some metadata describing the feeds.\r\nThis metadata includes links to search the feed and retreive additional metadata describing the feed and its' data.",
        "operationId": "Feed Directory",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "The search text to filter results by.  This will be used for partial, case-insensitive matches \r\nagainst either the feed's name or description.",
            "type": "string"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int32. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int32. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isFrequentlyAccessed",
            "in": "query",
            "description": "Specifies the feed is frequently used.",
            "type": "boolean"
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Gets or sets a value indicating whether this instance is active.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull searches will return metadata for the matching feeds, the search criteria used and paging information.",
            "schema": {
              "$ref": "#/definitions/FeedMetadataSearchResult"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      },
      "post": {
        "description": "Searches the directory of feeds for any matching the provided search terms and returns some metadata describing the feeds.\r\nThis metadata includes links to search the feed and retreive additional metadata describing the feed and its' data.",
        "operationId": "Feed Directory POST",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {}
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successfull searches will return metadata for the matching feeds, the search criteria used and paging information.",
            "schema": {
              "$ref": "#/definitions/FeedMetadataSearchResult"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/v1/act_sch_interchange": {
      "get": {
        "description": "Searches the Actual/Schedule Summary Report feed.  Hourly actual, scheduled, and inadvertent flows by tie line for each hour",
        "operationId": "act_sch_interchange Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ndatetime_ending_utc,\r\ndatetime_ending_ept,\r\ntie_line",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ndatetime_ending_utc,\r\ndatetime_ending_ept,\r\ntie_line,\r\nactual_flow,\r\nsched_flow,\r\ninadv_flow",
            "type": "string"
          },
          {
            "name": "datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning UTC' which falls inside the specified date range.  Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning EPT' which falls inside the specified date range.  Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_ending_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Ending UTC' which falls inside the specified date range.  Datetime Ending UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_ending_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Ending EPT' which falls inside the specified date range.  Datetime Ending EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "tie_line",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Tie Line' field. This performs a partial, case-insensitive match. Tie Line",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Actual/Schedule Summary Report feed.  Hourly actual, scheduled, and inadvertent flows by tie line for each hour",
        "operationId": "act_sch_interchange Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/ancillary_services": {
      "get": {
        "description": "Searches the Ancillary Service LMPs feed.  This feed contains hourly ancillary services pricing (LMP) data",
        "operationId": "ancillary_services Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:datetime_beginning_ept",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\nancillary_service,\r\nunit,\r\nvalue,\r\nrow_is_current,\r\nversion_nbr",
            "type": "string"
          },
          {
            "name": "datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning UTC' which falls inside the specified date range.  Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning EPT' which falls inside the specified date range.  Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "ancillary_service",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Ancillary Service' field. This performs a partial, case-insensitive match. Type of ancillary service",
            "type": "string"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Unit Type' field. This performs a partial, case-insensitive match. Price or Ratio",
            "type": "string"
          },
          {
            "name": "row_is_current",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Latest Version' field. This performs a partial, case-insensitive match. Latest Version",
            "type": "string"
          },
          {
            "name": "version_nbr",
            "in": "query",
            "description": "Restricts results to those that match the specified value in the 'Version Number' field. This performs an exact, numerical match. Version Number",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Ancillary Service LMPs feed.  This feed contains hourly ancillary services pricing (LMP) data",
        "operationId": "ancillary_services Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/reserve_market_results": {
      "get": {
        "description": "Searches the Ancillary Service Market Results feed.  Hourly Ancillary service market results including MW quantities and prices",
        "operationId": "reserve_market_results Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\nlocale,\r\nservice",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\nlocale,\r\nservice,\r\nmcp,\r\nmcp_capped,\r\nreg_ccp,\r\nreg_pcp,\r\nas_req_mw,\r\ntotal_mw,\r\nas_mw,\r\nss_mw,\r\ntier1_mw,\r\nircmwt2,\r\ndsr_as_mw,\r\nnsr_mw,\r\nregd_mw",
            "type": "string"
          },
          {
            "name": "datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning UTC' which falls inside the specified date range.  Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning EPT' which falls inside the specified date range.  Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Locale' field. This performs a partial, case-insensitive match. PJM_RTO Regulation or PJM_RTO Reserve Zone Mid-Atlantic-Dominion Reserve Sub-Zone",
            "type": "string"
          },
          {
            "name": "service",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Service' field. This performs a partial, case-insensitive match. Regulation, Synchronized Reserve, Primary Reserve",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Ancillary Service Market Results feed.  Hourly Ancillary service market results including MW quantities and prices",
        "operationId": "reserve_market_results Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/day_inc_dec_utc": {
      "get": {
        "description": "Searches the Daily Cleared INCs, DECs and UTCs feed.  Daily cleared virtual transactions in the Day Ahead Energy Market",
        "operationId": "day_inc_dec_utc Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:day_ahead_market_date",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:day_ahead_market_date,\r\ndec_mw,\r\ninc_mw,\r\nutc_mw",
            "type": "string"
          },
          {
            "name": "day_ahead_market_date",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Day Ahead Market Date' field. This performs a partial, case-insensitive match. Day Ahead Market Date",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Daily Cleared INCs, DECs and UTCs feed.  Daily cleared virtual transactions in the Day Ahead Energy Market",
        "operationId": "day_inc_dec_utc Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/day_gen_capacity": {
      "get": {
        "description": "Searches the Daily Generation Capacity feed.  PJM available generation capacity including total economic and emergency maximum MW offered and total generation committed via the PJM RPM Capacity Market",
        "operationId": "day_gen_capacity Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:bid_datetime_beginning_utc,\r\nbid_datetime_beginning_ept",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:bid_datetime_beginning_utc,\r\nbid_datetime_beginning_ept,\r\neco_max,\r\nemerg_max,\r\ntotal_committed",
            "type": "string"
          },
          {
            "name": "bid_datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'BID Datetime Beginning UTC' which falls inside the specified date range.  BID Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "bid_datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'BID Datetime Beginning EPT' which falls inside the specified date range.  BID Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Daily Generation Capacity feed.  PJM available generation capacity including total economic and emergency maximum MW offered and total generation committed via the PJM RPM Capacity Market",
        "operationId": "day_gen_capacity Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/uplift_by_zone": {
      "get": {
        "description": "Searches the Daily Uplift by Zone feed.  This data shows daily uplift credits by zone. Data is posted monthly after the closing of the monthly settlement. Data for a given month is initially computed at that time, and is updated in the following two months",
        "operationId": "uplift_by_zone Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:uplift_credit_date,\r\nzone,\r\ndatetime_rundate_ept",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:uplift_credit_date,\r\nzone,\r\noperating_reserve_credit_da,\r\noperating_reserve_credit_bal,\r\nreactive_credit,\r\nblackstart_credit,\r\nlost_opportunity_cost_credit,\r\ndatetime_rundate_ept",
            "type": "string"
          },
          {
            "name": "uplift_credit_date",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Uplift Credit Date' field. This performs a partial, case-insensitive match. Uplift Credit Date",
            "type": "string"
          },
          {
            "name": "zone",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Transmission Zone' field. This performs a partial, case-insensitive match. Transmission Zone Location",
            "type": "string"
          },
          {
            "name": "datetime_rundate_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Rundate EPT' which falls inside the specified date range.  Datetime Rundate EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Daily Uplift by Zone feed.  This data shows daily uplift credits by zone. Data is posted monthly after the closing of the monthly settlement. Data for a given month is initially computed at that time, and is updated in the following two months",
        "operationId": "uplift_by_zone Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/da_interface_flows_and_limits": {
      "get": {
        "description": "Searches the Day Ahead Interface Flows and Limits feed.  This feed contains the hourly Day Ahead Flow MW and Limit MW for each Interface Limit Name",
        "operationId": "da_interface_flows_and_limits Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ninterface_limit_name",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ninterface_limit_name,\r\nflow_mw,\r\nlimit_mw",
            "type": "string"
          },
          {
            "name": "datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning UTC' which falls inside the specified date range.  Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning EPT' which falls inside the specified date range.  Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "interface_limit_name",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Interface Limit Name' field. This performs a partial, case-insensitive match. Interface Limit Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Day Ahead Interface Flows and Limits feed.  This feed contains the hourly Day Ahead Flow MW and Limit MW for each Interface Limit Name",
        "operationId": "da_interface_flows_and_limits Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/da_hrl_lmps": {
      "get": {
        "description": "Searches the Day-Ahead Hourly LMPs feed.  This feed contains hourly Day-Ahead Energy Market locational marginal pricing (LMP) data for all bus locations, including aggregates",
        "operationId": "da_hrl_lmps Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:datetime_beginning_ept,\r\npnode_id,\r\nzone",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\npnode_id,\r\npnode_name,\r\nvoltage,\r\nequipment,\r\ntype,\r\nzone,\r\nsystem_energy_price_da,\r\ntotal_lmp_da,\r\ncongestion_price_da,\r\nmarginal_loss_price_da,\r\nrow_is_current,\r\nversion_nbr",
            "type": "string"
          },
          {
            "name": "datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning UTC' which falls inside the specified date range.  Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning EPT' which falls inside the specified date range.  Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "pnode_id",
            "in": "query",
            "description": "Restricts results to those that match the specified value in the 'Pricing Node ID' field. This performs an exact, numerical match. Pricing Node ID",
            "type": "number"
          },
          {
            "name": "voltage",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Voltage' field. This performs a partial, case-insensitive match. Voltage Level",
            "type": "string"
          },
          {
            "name": "equipment",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Equipment' field. This performs a partial, case-insensitive match. Equipment Description",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Pricing Node Type' field. This performs a partial, case-insensitive match. Pricing Node Type",
            "type": "string"
          },
          {
            "name": "zone",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Transmission Zone' field. This performs a partial, case-insensitive match. Transmission Zone Location",
            "type": "string"
          },
          {
            "name": "row_is_current",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Latest Version' field. This performs a partial, case-insensitive match. Latest Version",
            "type": "string"
          },
          {
            "name": "version_nbr",
            "in": "query",
            "description": "Restricts results to those that match the specified value in the 'Version Number' field. This performs an exact, numerical match. Version Number",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Day-Ahead Hourly LMPs feed.  This feed contains hourly Day-Ahead Energy Market locational marginal pricing (LMP) data for all bus locations, including aggregates",
        "operationId": "da_hrl_lmps Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/dasr_results": {
      "get": {
        "description": "Searches the Day-Ahead Scheduling Reserve feed.  This feed contains hourly billing data for the Day Ahead Scheduling Reserve Market. These values are for informational purposes only and are subject to change once actual settlement calculations are performed",
        "operationId": "dasr_results Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ndatetime_ending_utc,\r\ndatetime_ending_ept",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ndatetime_ending_utc,\r\ndatetime_ending_ept,\r\ndasrmcp,\r\ntotal_pjm_rt_load_mwh,\r\ntotal_pjm_cleared_dasr_mwh,\r\ntotal_pjm_dasr_credits,\r\ntotal_pjm_adj_dasr_oblig_mwh",
            "type": "string"
          },
          {
            "name": "datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning UTC' which falls inside the specified date range.  Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning EPT' which falls inside the specified date range.  Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_ending_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Ending UTC' which falls inside the specified date range.  Datetime Ending UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_ending_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Ending EPT' which falls inside the specified date range.  Datetime Ending EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Day-Ahead Scheduling Reserve feed.  This feed contains hourly billing data for the Day Ahead Scheduling Reserve Market. These values are for informational purposes only and are subject to change once actual settlement calculations are performed",
        "operationId": "dasr_results Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/da_transconstraints": {
      "get": {
        "description": "Searches the Day-Ahead Transmission Constraints feed.  Start and End times for constraints in the Day-Ahead Energy Market",
        "operationId": "da_transconstraints Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ndatetime_ending_utc,\r\ndatetime_ending_ept,\r\nday_ahead_congestion_event,\r\nmonitored_facility,\r\ncontingency_facility",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:datetime_beginning_utc,\r\ndatetime_beginning_ept,\r\ndatetime_ending_utc,\r\ndatetime_ending_ept,\r\nduration,\r\nday_ahead_congestion_event,\r\nmonitored_facility,\r\ncontingency_facility",
            "type": "string"
          },
          {
            "name": "datetime_beginning_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning UTC' which falls inside the specified date range.  Datetime Beginning UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_beginning_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Beginning EPT' which falls inside the specified date range.  Datetime Beginning EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_ending_utc",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Ending UTC' which falls inside the specified date range.  Datetime Ending UTC. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "datetime_ending_ept",
            "in": "query",
            "description": "Restricts results to those that have a 'Datetime Ending EPT' which falls inside the specified date range.  Datetime Ending EPT. Allowed values are: Today,\r\nLastWeek,\r\nLastMonth,\r\nYesterday,\r\nCurrentMonth,\r\nCurrentWeek,\r\nCurrentYear,\r\nLastYear,\r\nNextYear,\r\nNextMonth,\r\nNextWeek,\r\nTomorrow,\r\nCurrentHour,\r\nMonthsAgo4,\r\nMonthsAgo6,\r\nLastHour, [date-value] to [date-value].",
            "type": "string"
          },
          {
            "name": "day_ahead_congestion_event",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Day Ahead Congestion Event' field. This performs a partial, case-insensitive match. Day Ahead Congestion Event",
            "type": "string"
          },
          {
            "name": "monitored_facility",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Monitored Facility' field. This performs a partial, case-insensitive match. Monitored Facility",
            "type": "string"
          },
          {
            "name": "contingency_facility",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Contingency Facility' field. This performs a partial, case-insensitive match. Contingency Facility",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      },
      "post": {
        "description": "Searches the Day-Ahead Transmission Constraints feed.  Start and End times for constraints in the Day-Ahead Energy Market",
        "operationId": "da_transconstraints Search POST",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added as well triggering browsers to show a Save prompt,\r\n            and the rowCount argument become optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {},
            "description": "Search Specification"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful searches will return the matching feed items, the search criteria used, paging information, and links to related resources.",
            "schema": {
              "$ref": "#/definitions/FeedSearchResult"
            }
          },
          "400": {
            "description": "The search specification provided is invalid.",
            "schema": {
              "$ref": "#/definitions/ValidationErrorContent"
            }
          },
          "404": {
            "description": "The specified feed could not be found.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "406": {
            "description": "Unsupported encoding in Accept header.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent[String]"
            }
          },
          "500": {
            "description": "An unexpected error has occurred, please try the request again later.",
            "schema": {
              "$ref": "#/definitions/DataMinerErrorContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "text/csv"
        ]
      }
    },
    "/v1/mnt_efor": {
      "get": {
        "description": "Searches the Equivalent Forced Outage Rates - Monthly feed.  Equivalent Forced Outage Rates (EFORd) by unit type and size",
        "operationId": "mnt_efor Search",
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Determines how results should be returned.  \r\n            When true, only the results will be returned, no links or search criteria will be echoed.  Additionally, the total count will\r\n            be returned in the HTTP Header X-TotalRows, a Content-Disposition header will be added triggering browsers to show a Save prompt,\r\n            and the rowCount argument becomes optional.\r\n            Note that there are still limits on the maximum rows that may be returned and, if that threshold is crossed, a 400 response will be returned.",
            "type": "boolean"
          },
          {
            "name": "rowCount",
            "in": "query",
            "description": "Format - int64. Specifies the maximum number of results to include in the search result.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the name of the field to sort on.  Allowed values for this feed are:eford_date_beginning,\r\nunit_type,\r\nrating,\r\nmodified_date",
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the direction to sort the field on.  \r\nAllowed values are \"asc\" for ascending or \"desc\" for descending order.\r\nThe default value is \"asc\".",
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "startRow",
            "in": "query",
            "description": "Format - int64. Specifies the one-based number of the first record in the search results to be returned.\r\nThis is one-based, so 1 is the smallest value allowed and will return the very first record.\r\nThis is required if any other parameters are specified.",
            "type": "integer"
          },
          {
            "name": "isActiveMetadata",
            "in": "query",
            "description": "Gets or sets a value indicating whether [active metadata only].",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specifies the list of field names to retrieve in the form of a CSV list.  Allowed values for this feed are:eford_date_beginning,\r\nunit_type,\r\nrating,\r\nnumber_of_units,\r\neford,\r\nmodified_date",
            "type": "string"
          },
          {
            "name": "eford_date_beginning",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'EFORD Month Beginning' field. This performs a partial, case-insensitive match. EFORD Month Beginning",
            "type": "string"
          },
          {
            "name": "unit_type",
            "in": "query",
            "description": "Restricts results to those that contain the specified value in the 'Unit Type' field. This performs a partial, case-insensitive match. Unit Type",
            "type": "string"
          },
          {
            "name": "rating",
            "in": "query",
[...]
